Repository ZigRazor/CXXGraph, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, automated workflows, core, documentation

.github/labeler.yml:

# Add 'repo' label to any changes in root files
repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - test/**

# Add 'automated workflows' label to any change to workflows files
automated workflows:
  - .github/workflows/**

# Add 'core` label to any change to include files
core:
  - include/**

# Add 'documentation` label to any change to docs files
documentation:
  - docs/**

Refactor: added invalidateCache() for core cache rebuilding (#517)
  include/CXXGraph/CXXGraphConfig.h
  include/CXXGraph/Graph/Graph_decl.h
  include/CXXGraph/Graph/Graph_impl.hpp
Labels: core

Resolved inconsistent use of scope in how-to-make-a-graph
  getting-started/how-to-make-a-graph.html
Labels: none

Resolved incorrect call of addEdge in how-to-make-a-graph
  getting-started/how-to-make-a-graph.html
Labels: none

Resolved incorrect call of depth_first_search in how-to-make-a-graph
  getting-started/how-to-make-a-graph.html
Labels: none

feat: implement Hopcroft-Karp algorithm
  include/CXXGraph/Graph/Algorithm/HopcroftKarp_impl.hpp
  include/CXXGraph/Graph/Graph.h
  include/CXXGraph/Graph/Graph_decl.h
  include/CXXGraph/Utility/Typedef.hpp
  test/CMakeLists.txt
  test/HopcroftKarpTest.cpp
Labels: test, core

fix(hopcroft-karp): Improve test coverage and fix edge cases
  README.md
  include/CXXGraph/Graph/Algorithm/HopcroftKarp_impl.hpp
  test/HopcroftKarpTest.cpp
Labels: repo, test, core

Corrected code in "Making a Graph" gh-page (#522)
  getting-started/how-to-make-a-graph.html
Labels: none

Update file(s) "/.github" from "ZigRazor/CXXGraph"
  .github/workflows/Code_Coverage.yml
  .github/workflows/Doxygen.yml
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_pr.yml
  .github/workflows/clang_format.yml
  .github/workflows/cmake.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy_site.yml
  .github/workflows/flawfinder.yml
  .github/workflows/gitlab_sync.yml
Labels: automated workflows

deploy: c01c49a5f54dbf1c76e932b4407922ba170fd205
  getting-started/how-to-make-a-graph.html
Labels: none

Update file(s) "/.github" from "ZigRazor/CXXGraph"
  .github/workflows/Code_Coverage.yml
Labels: automated workflows

Fix cross-platform implementation bugs
  include/CXXGraph/Graph/Algorithm/HopcroftKarp_impl.hpp
Labels: core

Implement Hopcroft-Karp algorithm for maximum bipartite matching. Issue: #214 (#525)
  README.md
  include/CXXGraph/Graph/Algorithm/HopcroftKarp_impl.hpp
  include/CXXGraph/Graph/Graph.h
  include/CXXGraph/Graph/Graph_decl.h
  include/CXXGraph/Utility/Typedef.hpp
  test/CMakeLists.txt
  test/HopcroftKarpTest.cpp
Labels: repo, test, core
