Repository ZigRazor/CXXGraph, pull requests merged in 2021-10, with the labels that each got.

#62 Update README.md for Hacktoberfest
  README.md
Labels: documentation, repo, hacktoberfest

#63 Fixed typos
  README.md
Labels: documentation

#151 Use std::map instead of vector for subset indexing
  include/Graph/Graph.hpp
  test/BoruvkaTest.cpp
  test/UnionFindTest.cpp
Labels: test, core

#156 output userid in mst instead of hash-ids
  include/Graph/Graph.hpp
  include/Utility/Typedef.hpp
Labels: core

#160 Range base loops review
  include/Graph/Graph.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Partitioning/CoordinatedRecord.hpp
  include/Partitioning/HDRF.hpp
  include/Partitioning/Partition.hpp
  include/Partitioning/Partitioner.hpp
  include/Partitioning/PartitionerThread.hpp
  include/Partitioning/Record.hpp
  test/EulerPathTest.cpp
  test/FWTest.cpp
  test/PartitionTest.cpp
  test/RWOutputTest.cpp
Labels: test, core

#161 Casting upgrade
  include/Node/Node.hpp
  include/Partitioning/HDRF.hpp
  include/Partitioning/Partition.hpp
  test/RWOutputTest.cpp
Labels: test, core

#162 Floyd Warshall output
  include/Graph/Graph.hpp
  include/Utility/Typedef.hpp
  test/FWTest.cpp
Labels: test, core
