Repository ZigRazor/CXXGraph, pull requests merged in 2021-11, with the labels that each got.

#163 Add structs default niitial values
  include/Edge/Edge.hpp
  include/Edge/Weighted.hpp
  include/Graph/Graph.hpp
  include/Node/Node.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Partitioning/CoordinatedRecord.hpp
  include/Partitioning/Partition.hpp
  include/Partitioning/Partitioner.hpp
  include/Partitioning/PartitionerThread.hpp
  include/Partitioning/PartitioningStats.hpp
  include/Partitioning/Utility/Globals.hpp
  include/Utility/Typedef.hpp
Labels: enhancement, core

#167 Dijkstra algorithm tests
  include/Graph/Graph.hpp
  include/Utility/ConstString.hpp
  include/Utility/Typedef.hpp
  test/DijkstraTest.cpp
Labels: enhancement, test, core

#165 replace map with unordered_map
  benchmark/Graph_BM.cpp
  benchmark/Utilities.hpp
  include/Graph/Graph.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Utility/Typedef.hpp
  test/FWTest.cpp
  test/NodeTest.cpp
  test/RWOutputTest.cpp
  test/UnionFindTest.cpp
Labels: test, core

#171 Floyd benchmark
  .gitignore
  CMakeLists.txt
  benchmark/FloydWarshall_BM.cpp
Labels: repo

#174 Refactoring: writeToStandardFile and readFromStandardFile
  include/Graph/Graph.hpp
Labels: enhancement, core
