Repository ZigRazor/CXXGraph, pull requests merged in 2022-10, with the labels that each got.

#219 Issue 211 (Add Kosaraju Algorithm)
  include/Graph/Graph.hpp
Labels: core

#227 correcting spelling and gramatical errors in readme
  README.md
Labels: repo

#228 updated Readme.md.
  README.md
Labels: documentation, repo

#230 Corrected Memory Leak in Partitioning
  benchmark/GraphSlicing_BM.cpp
  benchmark/Graph_BM.cpp
  benchmark/Utilities.hpp
  benchmark/results/result_25_03_2022.json
  benchmark/results/result_25_03_2022_a.json
  benchmark/results/result_28_03_2022.json
  docs/README.md
  include/Graph/Graph.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Partitioning/CoordinatedRecord.hpp
  include/Partitioning/EBV.hpp
  include/Partitioning/EdgeBalancedVertexCut.hpp
  include/Partitioning/GreedyVertexCut.hpp
  include/Partitioning/HDRF.hpp
  include/Partitioning/PartitionState.hpp
  include/Partitioning/Partitioner.hpp
  include/Partitioning/PartitionerThread.hpp
  include/Utility/Typedef.hpp
  test/Utilities.hpp
Labels: documentation, enhancement, test, core, performance
