Repository ZigRazor/CXXGraph, pull requests merged in 2022-03, with the labels that each got.

#184 Introduced New Logo
  Icon.png
  Icon2.png
  README.md
  logos/CXXGRAPH_Footer.png
  logos/CXXGraph.gif
  logos/CXXGraph.png
  logos/CXXGraph_footer.gif
Labels: repo

#185 Added Author
  README.md
Labels: repo

#188 Introduced Boruvka Readme.
  README.md
Labels: documentation, repo

#189 Removed Useless Thread Safe Version of Graph.
  benchmark/Graph_BM.cpp
  include/CXXGraph.hpp
  include/Graph/Graph_TS.hpp
  test/BFSTest.cpp
  test/BellmanFordTest.cpp
  test/BoruvkaTest.cpp
  test/DijkstraTest.cpp
  test/FWTest.cpp
  test/GraphSlicingTest.cpp
  test/GraphTest.cpp
  test/KruskalTest.cpp
  test/PrimTest.cpp
Labels: development, test, core

#190 Introduced Graph Connectivity, also for Prim's Algorithm
  include/Graph/Graph.hpp
  include/Utility/ConstString.hpp
Labels: core

#192 Update Image on README.md
  README.md
Labels: documentation, repo

#193 Updated README.md with some correction
  README.md
Labels: documentation, repo

#194 Test for Graph Connectivity
  CMakeLists.txt
  include/Graph/Graph.hpp
  test/ConnectivityTest.cpp
Labels: test, core, repo

#195 Updated Readme
  README.md
Labels: repo

#198 Add a Gitter chat badge to README.md
  README.md
Labels: repo

#199 36 ford fulkerson algorithm for maximum flow problem
  README.md
  include/Graph/Graph.hpp
  test/FordFulkersonTest.cpp
Labels: development, test, core, repo
