Repository ZigRazor/CXXGraph, pull requests merged in 2022-12, with the labels that each got.

#252 add multithread-bfs
  CMakeLists.txt
  benchmark/BFS_BM.cpp
  include/Graph/Graph.hpp
  test/BFSTest.cpp
Labels: test, core, repo

#254 Implement best first search
  include/Graph/Graph.hpp
  include/Utility/Typedef.hpp
  test/BestFirstSearchTest.cpp
Labels: test, core

#258 Include best first search test
  CMakeLists.txt
Labels: repo

#257 Update README for best first search algorithm
  README.md
Labels: repo
