Repository ZigRazor/CXXGraph, pull requests merged in 2023-09, with the labels that each got.

#346 close #345 fixed Node<T> move constructor
  include/Node/Node.hpp
Labels: core

#342 [Fix] [Issue 338] Inconsistent id types
  include/Edge/DirectedEdge.hpp
  include/Edge/DirectedWeightedEdge.hpp
  include/Edge/Edge.hpp
  include/Edge/UndirectedEdge.hpp
  include/Edge/UndirectedWeightedEdge.hpp
  include/Graph/Graph.hpp
  include/Node/Node.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Partitioning/CoordinatedRecord.hpp
  include/Partitioning/EBV.hpp
  include/Partitioning/EdgeBalancedVertexCut.hpp
  include/Partitioning/GreedyVertexCut.hpp
  include/Partitioning/HDRF.hpp
  include/Partitioning/Partition.hpp
  include/Partitioning/PartitionState.hpp
  include/Partitioning/Partitioner.hpp
  include/Utility/Typedef.hpp
  include/Utility/id_t.hpp
  test/CMakeLists.txt
  test/KahnTest.cpp
  test/PartitionTest.cpp
  test/RWOutputTest.cpp
  test/TopologicalSortTest.cpp
  test/UnionFindTest.cpp
  test/Utilities.hpp
Labels: test, core

#344 Caching Adjacency Matrix for faster edge lookup
  include/Graph/Graph.hpp
  test/GraphTest.cpp
Labels: test, core

#349 Update README.md
  README.md
Labels: repo

#347 Feature node storage for Graph class
  include/Graph/Graph.hpp
  test/GraphTest.cpp
Labels: test, core

#337 Create PaperToTakeIntoConsideration.txt
  PaperToTakeIntoConsideration.txt
Labels: repo

#355 Update README.md
  README.md
Labels: repo

#358 Use cached adjacency matrix in all Graph algorithms
  include/CXXGraph/Graph/Graph.hpp
Labels: core
