Repository ZigRazor/CXXGraph, pull requests merged in 2023-08, with the labels that each got.

#322 introduce tarjan's algorithm (#103)
  include/Graph/Graph.hpp
  include/Utility/Typedef.hpp
  test/TarjanTest.cpp
Labels: development, test, core

#334 Reduce warnings from CMake
  benchmark/CMakeLists.txt
  test/CMakeLists.txt
Labels: test

#336 Added changes to save shortest path nodes for Dijkstra shortest path. Modified tests.
  include/Graph/Graph.hpp
  include/Utility/Typedef.hpp
  test/DijkstraTest.cpp
Labels: enhancement, test, core
