Repository ZigRazor/CXXGraph, pull requests merged in 2023-05, with the labels that each got.

#276 (Issue 209, 275) Make library truly header-only
  .gitignore
  benchmark/CMakeLists.txt
  include/CXXGraphConfig.h
  include/Graph/Graph.hpp
  include/Partitioning/Partitioner.hpp
  test/CMakeLists.txt
  test/KosarajuTest.cpp
Labels: test, core

#280 (Issue #277) Make CXXGraph MSVC-Compatible
  CMakeLists.txt
  README.md
  benchmark/CMakeLists.txt
  benchmark/Graph_BM.cpp
  benchmark/Node_BM.cpp
  benchmark/Utilities.hpp
  include/Graph/Graph.hpp
  include/Node/Node.hpp
  include/Partitioning/CoordinatedPartitionState.hpp
  include/Partitioning/GreedyVertexCut.hpp
  include/Partitioning/HDRF.hpp
  include/Partitioning/Partitioner.hpp
  test/BFSTest.cpp
  test/CMakeLists.txt
  test/NodeTest.cpp
  test/Utilities.hpp
Labels: test, core, repo

#287 Feature import/export with dot files
  include/Graph/Graph.hpp
  test/DOTTest.cpp
  test/test_dot_directed.dot
  test/test_dot_undirected.dot
  test/test_dot_weighted.dot
Labels: test, core

#288 Remove static_cast of 0 to template type T in best_first_search
  include/Graph/Graph.hpp
Labels: bug, core

#289 Create dependabot.yml
  .github/dependabot.yml
Labels: automated workflows

#309 Bugfix mtxtest
  test/MTXTest.cpp
Labels: bug, test, CI/CD

#307 Create flawfinder.yml
  .github/workflows/flawfinder.yml
Labels: enhancement, automated workflows, CI/CD

#304 Add transitive reduction algorithm
  include/Graph/Graph.hpp
  test/TransitiveReductionTest.cpp
Labels: development, test, core

#314 Fix bug in Eulerian path algorithm
  include/Edge/Edge.hpp
  include/Edge/UndirectedEdge.hpp
  include/Graph/Graph.hpp
  test/EulerPathTest.cpp
Labels: test, core
