Repository ZigRazor/CXXGraph, pull requests merged in 2023-10, with the labels that each got.

#360 Fix construction of weighted Edge in addEdge overload
  include/CXXGraph/Graph/Graph.hpp
  test/GraphTest.cpp
Labels: test, core

#363 Implement generic addNodes and addEdges
  include/CXXGraph/Graph/Graph.hpp
  include/CXXGraph/Utility/TypeTraits.hpp
  test/GraphTest.cpp
Labels: test, core

#329 Update README.md
  README.md
Labels: repo

#365 changing output format of Kosaraju algorithm
  include/CXXGraph/Graph/Graph.hpp
  include/CXXGraph/Utility/Typedef.hpp
  test/KosarajuTest.cpp
Labels: test, core

#366 Implement matrices used in network dynamics
  README.md
  examples/CMakeLists.txt
  examples/NetworkDynamicsExample/CMakeLists.txt
  examples/NetworkDynamicsExample/network_dynamics_example.cpp
  include/CXXGraph/Graph/Graph.hpp
  include/CXXGraph/Utility/Typedef.hpp
Labels: core, repo
