Repository ZigRazor/CXXGraph, pull requests merged in 2023-11, with the labels that each got.

#368 Preparing stable release 3.0.0
  CMakeLists.txt
  README.md
  include/CXXGraph/CXXGraphConfig.h
Labels: core, repo

#371 Documentation: Fix readme.md to reflect testing script
  README.md
Labels: repo

#370 Added new test, 5 tests failed
  test/CMakeLists.txt
Labels: test
