Repository ZigRazor/CXXGraph, pull requests merged in 2023-07, with the labels that each got.

#327 Create windows-cmake.yml
  .github/workflows/windows-cmake.yml
  test/CMakeLists.txt
Labels: test, automated workflows

#325 Add tests for cycles in directed graphs
  test/GraphTest.cpp
Labels: test, Priority:Critical

#332 Migrate from CMake FetchContent to CMake Package Manager (CPM)
  CMakeLists.txt
  benchmark/CMakeLists.txt
  test/CMakeLists.txt
Labels: test, repo

#326 Edge equality operator is incorrect (#333)
  include/Graph/Graph.hpp
  include/Utility/PointerHash.hpp
  test/CMakeLists.txt
  test/GraphTest.cpp
Labels: bug, test, core, Priority:Critical
