Repository ZigRazor/CXXGraph, pull requests merged in 2024-06, with the labels that each got.

#428 include <algorithm> for gcc 14 compilation errors
  include/CXXGraph/Graph/Algorithm/BellmanFord_impl.hpp
  include/CXXGraph/Graph/Algorithm/BestFirstSearch_impl.hpp
  include/CXXGraph/Graph/Algorithm/BreadthFirstSearch_impl.hpp
  include/CXXGraph/Graph/Algorithm/CycleDetection_impl.hpp
  include/CXXGraph/Graph/Algorithm/DepthFirstSearch_impl.hpp
  include/CXXGraph/Graph/Algorithm/Dial_impl.hpp
  include/CXXGraph/Graph/Algorithm/Dijkstra_impl.hpp
  include/CXXGraph/Graph/Algorithm/FordFulkerson_impl.hpp
  include/CXXGraph/Graph/Graph_impl.hpp
Labels: enhancement

#436 Add nullptr guard-check in comparision of shared ptr node and edge
  include/CXXGraph/Utility/PointerHash.hpp
Labels: bug, enhancement, macos

#458 Add missing descriptions of new Graph methods
  include/CXXGraph/Graph/Graph_decl.h
Labels: documentation, enhancement
